body{
  margin: 0;
  background-color: #81c784;
}
.App{
  background-color:white;
  margin:40px auto;
  width:900px;
  padding:30px;

}

.App > h1{
  display: flex;
  justify-content: center;
  color:rgb(62, 123, 125);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
